* {
  padding: 0 0;
  margin: 0 0;
  font-size: 10vmin;
  font-size: 10dvmin;
}

div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  min-height: 100vh; min-height: 100dvh;
  height: 100vh; height: 100dvh;
  max-height: 100vh; max-height: 100dvh;
}

a {
  font-size: 7.5vmin;
  font-size: 7.5dvmin;
}

details{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

details[open]+details{
  display: none;
}

details[close]+details{
  display: block;
}