* {
  padding: 0 0;
  margin: 0 0;
  font-size: 7.5vmin;
  font-size: 7.5dvmin;
}

div {
  display: flex;
  flex-direction: column;
  /* row row-reverse column-reverse */
  align-items: stretch;
  justify-content: space-around;
  min-height: 100vh; min-height: 100dvh;
  height: 100vh; height: 100dvh;
  max-height: 100vh; max-height: 100dvh;
}