* {
  padding: 0 0;
  margin: 0 0;
  font-size: 10vw;
}

div {
  display: flex;
  flex-direction: column;
  /* row row-reverse column-reverse */
  align-items: stretch;
  justify-content: space-around;
  height: 100vh;
}

h1 {
  text-align: center;
}